@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'Lazy Dog Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lazy Dog Regular'), url('./assets/fonts/Lazydog.woff2');
}

@tailwind base;

@layer base {
    img {
        @apply inline-block;
    }
}

@tailwind components;
@tailwind utilities;

html,
body {
    @apply w-full h-full;
    font-family: "EB Garamond", serif;
}

#app {
    @apply w-full h-full flex;
}

.love-ya-like-a-sister-regular {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

.grandstander {
    font-family: "Grandstander", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lazy-dog {
    font-family: "Lazy Dog Regular";
}

/* width */
::-webkit-scrollbar {
    @apply w-2.5;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-neutral-100/10;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-200;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-50;
}